{{!-- <form method="POST">
    <label for="postContent">Add your comment:</label><br>
    <textarea id="commentContent" name="commentContent" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
</form> --}}