{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}
<form id="resetPassword-form" method="post" action={{window.location.href}}>
  <input type="password" name="password" placeholder="passwd" />
  <input type="submit" />
</form>